<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>coli-conc - Subjects and Occurrences API</title>
    <style>
      /* nunito-italic - latin */
      @font-face {
        font-family: 'Nunito';
        font-style: italic;
        font-weight: 400;
        src: url('./fonts/nunito-v16-latin-italic.eot'); /* IE9 Compat Modes */
        src: local(''),
            url('./fonts/nunito-v16-latin-italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
            url('./fonts/nunito-v16-latin-italic.woff2') format('woff2'), /* Super Modern Browsers */
            url('./fonts/nunito-v16-latin-italic.woff') format('woff'), /* Modern Browsers */
            url('./fonts/nunito-v16-latin-italic.ttf') format('truetype'), /* Safari, Android, iOS */
            url('./fonts/nunito-v16-latin-italic.svg#Nunito') format('svg'); /* Legacy iOS */
      }
      /* nunito-regular - latin */
      @font-face {
        font-family: 'Nunito';
        font-style: normal;
        font-weight: 400;
        src: url('./fonts/nunito-v16-latin-regular.eot'); /* IE9 Compat Modes */
        src: local(''),
            url('./fonts/nunito-v16-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
            url('./fonts/nunito-v16-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
            url('./fonts/nunito-v16-latin-regular.woff') format('woff'), /* Modern Browsers */
            url('./fonts/nunito-v16-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
            url('./fonts/nunito-v16-latin-regular.svg#Nunito') format('svg'); /* Legacy iOS */
      }
      /* nunito-600 - latin */
      @font-face {
        font-family: 'Nunito';
        font-style: normal;
        font-weight: 600;
        src: url('./fonts/nunito-v16-latin-600.eot'); /* IE9 Compat Modes */
        src: local(''),
            url('./fonts/nunito-v16-latin-600.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
            url('./fonts/nunito-v16-latin-600.woff2') format('woff2'), /* Super Modern Browsers */
            url('./fonts/nunito-v16-latin-600.woff') format('woff'), /* Modern Browsers */
            url('./fonts/nunito-v16-latin-600.ttf') format('truetype'), /* Safari, Android, iOS */
            url('./fonts/nunito-v16-latin-600.svg#Nunito') format('svg'); /* Legacy iOS */
      }
      /* nunito-600italic - latin */
      @font-face {
        font-family: 'Nunito';
        font-style: italic;
        font-weight: 600;
        src: url('./fonts/nunito-v16-latin-600italic.eot'); /* IE9 Compat Modes */
        src: local(''),
            url('./fonts/nunito-v16-latin-600italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
            url('./fonts/nunito-v16-latin-600italic.woff2') format('woff2'), /* Super Modern Browsers */
            url('./fonts/nunito-v16-latin-600italic.woff') format('woff'), /* Modern Browsers */
            url('./fonts/nunito-v16-latin-600italic.ttf') format('truetype'), /* Safari, Android, iOS */
            url('./fonts/nunito-v16-latin-600italic.svg#Nunito') format('svg'); /* Legacy iOS */
      }
      /* nunito-700 - latin */
      @font-face {
        font-family: 'Nunito';
        font-style: normal;
        font-weight: 700;
        src: url('./fonts/nunito-v16-latin-700.eot'); /* IE9 Compat Modes */
        src: local(''),
            url('./fonts/nunito-v16-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
            url('./fonts/nunito-v16-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
            url('./fonts/nunito-v16-latin-700.woff') format('woff'), /* Modern Browsers */
            url('./fonts/nunito-v16-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
            url('./fonts/nunito-v16-latin-700.svg#Nunito') format('svg'); /* Legacy iOS */
      }
      /* nunito-700italic - latin */
      @font-face {
        font-family: 'Nunito';
        font-style: italic;
        font-weight: 700;
        src: url('./fonts/nunito-v16-latin-700italic.eot'); /* IE9 Compat Modes */
        src: local(''),
            url('./fonts/nunito-v16-latin-700italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
            url('./fonts/nunito-v16-latin-700italic.woff2') format('woff2'), /* Super Modern Browsers */
            url('./fonts/nunito-v16-latin-700italic.woff') format('woff'), /* Modern Browsers */
            url('./fonts/nunito-v16-latin-700italic.ttf') format('truetype'), /* Safari, Android, iOS */
            url('./fonts/nunito-v16-latin-700italic.svg#Nunito') format('svg'); /* Legacy iOS */
      }
    </style>
    <link rel="stylesheet" href="https://coli-conc.gbv.de/css/base.css">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <!--preload-links-->
  </head>
  <body>
    <header class="header">
      <a
        href="https://coli-conc.gbv.de/"
        class="coli-conc-logo-small">
        <img
          src="https://coli-conc.gbv.de/images/coli-conc.svg"
          alt="coli-conc Logo">
      </a>
      <ul class="menu">
        <li>
          <a
            href="https://coli-conc.gbv.de"
            title="Go to coli-conc website">
            ⬅ back to coli-conc website
          </a>
        </li>
      </ul>
      <div style="clear:both" />
    </header>
    <main id="main">
      <div class="text-center">
        <h1>Subjects and Occurrences</h1>
      </div>
      <div class="section">
        <p>
        This API can be used to query <b>subjects and occurrences</b> from controlled vocabularies used to describe records in K10plus catalogue.
        An <b>occurrence</b> gives the number of times a selected concept is used for subject indexing in K10plus database records. Co-occurrences give the number for combination of concepts so they can be used as mapping recommendations. This service allows to query (co-)occurrences of selected vocabularies (RVK, BK, DDC...) from K10plus database. The results are partly based on <a href="https://doi.org/10.5281/zenodo.7016625">a database snapshot</a>.
        </p>
      </div>
      <div class="section">
        <h2>API</h2>
        <p><b>Endpoints</b></p>
        <ul>
          <li><a href="./subjects" target="_blank">/subjects</a> to get subjects of a given record (query parameters <code>record</code> and optional <code>scheme</code>)</li>
          <li><a href="./occurrences" target="_blank">/occurrences</a> to get occurrences for given concept (query parameter <code>member</code>), co-occurrences for given concept and vocabularies (parameters <code>member</code> and <code>scheme</code>), or  of given document (query parameter <code>record</code>).</li>
          <li><a href="./voc" target="_blank">/voc</a> lists supported vocabularies</li>
          <li><a href="./databases" target="_blank">/databases</a> lists supported databases</li>
        </ul>
        <p><b>Sample Queryies</b></p>
        <ul>
          <li>
            <a href="./occurrences?member=http:%2F%2Frvk.uni-regensburg.de%2Fnt%2FDG%25209000" target="_blank">
              occurrences of RVK DG 9000
            </a>
          </li>
          <li>
            <a href="./occurrences?member=http:%2F%2Frvk.uni-regensburg.de%2Fnt%2FDG%25209000&scheme=http://bartoc.org/en/node/241" target="_blank">
              co-occurrences of RVK DG 9000 in DDC
            </a>
          </li>
          <li>
            <a href="./occurrences?member=http:%2F%2Frvk.uni-regensburg.de%2Fnt%2FDG%25209000&scheme=*" target="_blank">
              co-occurrences of RVK DG 9000 in all vocabularies
            </a>
          </li>
          <li>
            <a href="./subjects?record=http://uri.gbv.de/document/opac-de-627:ppn:012401471" target="_blank">
              subjects of a record (all vocabularies)
            </a>
          </li>
          <li>
            <a href="./subjects?record=http://uri.gbv.de/document/opac-de-627:ppn:012401471&scheme=http://bartoc.org/en/node/533" target="_blank">
              subjects of a record (selected vocabulary)
            </a>
          </li>
          <li>
            <a href="./records?record=http://uri.gbv.de/terminology/bk/20.04" target="_blank">
              records of a subject
            </a>
          </li>
        </ul>
        <p>
          See also <a href="https://github.com/gbv/subjects-api#api" target="_blank">API documentation</a> and implementation for details. Extension and a web interface to use the API are planned (see <a href="https://github.com/gbv/subjects-api/issues/19" target="_blank">#19</a>).
        </p>
      </div>
    </main>
    <footer class="footer">
      <a href="<%= homepage %>"><%= name %></a> version <%= version %>
    </footer>
  </body>
</html>
